@keyframes opacity-fade-on {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes opacity-fade-off {
    from {opacity: 100%;}
    to {opacity: 0;}
}

body {
    background-color: black !important;
    opacity: 100%;

    animation-name: opacity-fade-on;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}

.calender {
    margin-top: 100px;
    animation-name: opacity-fade-off;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    display: block;
}

.calender-day {
    border-bottom: white solid 1px;
    padding-bottom: 10px;
    display: block;
}

.calender-title {
    display: block;
    margin-top: 10px;
}

.calender-location {
    display: inline-block;
    margin-left: 5px;
}

.calender-big {
    font-size: 1.5rem;
}

.calender-time {
    display: inline-block;
    margin-left: 5px;
}

.calender-description {
    display: block;
    text-align: justify;
}
